<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>homepage</title>
    
    <style>
      body{
        background-image: url("../images/backkmain.jpg");
      }
      .carr {
      
        margin-top: 20px;
        width: 55%;

        padding: 20px;
        border: 1px solid #858181;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        background-color: rgba(3, 19, 2);
        
        text-shadow: 2px 2px 4px #000000;
        align-items: right;
        justify-content: centre;

      }



    </style>
</head>

<body>

  <%- include('./partials/nav') %>
    <div class="carr">
      <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner" style="padding: 5px,5px,5px;">
          <div class="carousel-item active" data-interval="100">
            <img src="../images/real.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item " data-interval="100">
            <img src="../images/liv.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="100">
            <img src="../images/manu.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="100">
            <img src="../images/arg1.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="imgg"><img src="/public/images/bernabeu.avif" alt=""></div>
    <div class="container mt-3">
      <div class=" row row-cols-4">
        <% blogs.forEach(blog=> { %>
          <div class="col">
            <div class="card col" style="width: 18rem;">
              <img src="<%= blog.coverImageURL %>" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">
                  <%= blog.title %>
                </h5>
                <a href="/blog/<%= blog._id %>" class="btn btn-dark">View</a>
              </div>
            </div>
          </div>
          <% }) %>
      </div>

    </div>
    <%- include('./partials/footer') %>

    <%- include('./partials/script') %>

</body>

</html>